.main {
  display: grid;
  grid-template-areas: "sidebar products";
  min-height: calc(100vh - 100px);
  background-color: #f8f8f8;
  gap: 1rem;
}

.sidebar_container {
  grid-area: "sidebar";
  min-height: 50%;
  align-content: center;
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.nav_categoris_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  border: 1px solid #c69d23;
  border-radius: 0.6rem;
  background-color: #fff;
}

.hedader_categori_container {
  border-bottom: 1px solid #c69d2344;
  h3 {
    margin-bottom: 1.5rem;
    color: #c69d23;
    text-transform: uppercase;
  }
}

.nav_list_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 0.4rem;
  list-style: none;
  li {
    padding: 0.5rem;
    color: #333;
    border-radius: 0 0 0 0.5rem;
    border-left: 3px solid transparent;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      background-color: #c69d2322;
      border-left: 3px solid #c69d23;
      color: #c69d23;
      transform: translateX(5px);
      transition: all 0.2s ease-in-out;
    }
  }
}

.products_container {
  grid-area: "products";
  text-align: center;
  border: 1px solid #c69d23;
}

.productos_container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  img{
    height: 200px;
    width: 200px;
  }
}