.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  img {
    height: 4rem;
  }
}

.text_logo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #c69d23;
  font-size: 0.8rem;
}