.products_main {
  display: grid;
  width: 100%;
  grid-template-areas:
    "filtros productos productos productos productos"
    "filtros productos productos productos productos"
    "filtros productos productos productos productos"
    "filtros productos productos productos productos";
  align-items: center;
  justify-items: center;
  gap: 2rem 0;
}


.products_contain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 4rem;
}
