.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c69d2322;
    padding: 2rem;
    h3{
        color: #c69d23;
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    form input{
        width: 400px;
        padding: 1rem;
        border-radius: 0.2rem;
        border: 1px solid #1f1f1f33;
    }
    form button{
        padding: 1rem;
        border-radius: 0.2rem;
        border: 1px solid #1f1f1f33;
        background-color: #c69d23;
        color: #fff;
        &:hover{
            cursor: pointer;
            background-color: #9a7b1e;
            transition: all 0.3s;
        }
    }
}