.titel_articulos {
  text-align: center;
  font-size: 2.8rem;
  padding: 1rem 0;
  color: #c79a1b;
}

.products_contain {
  display: grid;
  grid-template-areas: 
  "filtros productos productos productos productos"
  "filtros productos productos productos productos"
  "filtros productos productos productos productos"
  "filtros productos productos productos productos";
  /* grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); */
  align-items: center;
  justify-items: center;
  margin: 2rem 0;
  gap: 2rem 0;
}

.filtros{
    min-height: 1fr;
    grid-area: filtros;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #c79a1b;
  border-radius: 0.5rem;
  min-height: 400px;
  width: 300px;
  box-shadow: 0 1px 8px #1f1f1f;
  grid-area: productos;
    &:hover{
        cursor: pointer;
        transform: translateY(-10px);
        transition: all .5s;
    }
}

.imagen_producto {
  width: 250px;
  height: 300px;
  border-radius: 0.5rem;
}

.info_products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  h3 {
    font-size: 1rem;
    font-weight: 700;
  }
  small {
    font-size: 1.2rem;
  }

  button {
    padding: 0.3rem;
    width: 200px;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    border: 1px solid #c79a1b;
    background-color: #c79a1bee;
    color: #fff;
    cursor: pointer;
    &:active {
      transform: scale(0.9);
    }
  }
}
