.info_container {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin: 0 2rem;
  gap: 1.5rem;
  h2 {
    color: #c69d23;
    position: relative;
    padding-bottom: 1rem;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 15%;
      height: 3px;
      background-color: #c69d23;
      border-radius: 4px;
    }
  }
  p {
    width: 50%;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.2;
    color: #333333;
    font-size: 1.2rem;
  }
}

.info_list {
  list-style: none;
  li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: #333333;
    font-size: 1.2rem;
    img {
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 0.5rem;
      border-radius: 50%;
    }
  }
}

.horario {
  display: flex;
  align-items: center;
  img {
    width: 2rem;
    margin-right: 0.5rem;
    border-radius: 50%;
  }
}
