
.sidebar_container {
  grid-area: filtros;
  height: 100%;
  padding: 0 2rem;
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.nav_categoris_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  border: 1px solid #c69d23;
  border-radius: 0.6rem;
  background-color: #fff;
  height: 60%;
  box-shadow: 0 1px 8px #1f1f1f;
}

.hedader_categori_container {
  border-bottom: 1px solid #c69d2344;
  h3 {
    margin-bottom: 1.5rem;
    color: #c69d23;
    text-transform: uppercase;
  }
}

.nav_list_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 0.4rem;
  list-style: none;
  li {
    padding: 0.5rem;
    color: #333;
    border-radius: 0 0 0 0.5rem;
    border-left: 3px solid transparent;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      background-color: #c69d2322;
      border-left: 3px solid #c69d23;
      color: #c69d23;
      transform: translateX(5px);
      transition: all 0.2s ease-in-out;
    }
  }
}
