.footer {
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 1rem 2rem;
}

.logo_container {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: #999;
  small {
    margin-left: 1rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  header h3 {
    color: #c69d23;
    text-transform: uppercase;
    font-size: 1rem;
    position: relative;
    padding-bottom: 1rem;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40%;
      height: 3px;
      background-color: #c69d23;
      border-radius: 4px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    li {
      display: flex;
      align-items: center;
      color: #999;
      font-size: 1rem;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      img {
        width: 1.5rem;
      }
    }
  }
}

.links li:hover{
    cursor: pointer;
    color: #c69d23;
}

.redes img{
    width: 3rem;
    &:hover{
       transform: scale(1.1);
       cursor: pointer;
    }
}

.redes :nth-child(2){
    margin-left: 1rem;
}

