.img{
    width: 60%;
    height: 60%;
    border-radius: 0.5rem;
    border: 1px solid #C79A1B;
}

.imgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    background-color: #333333;
}

.button{
    position: relative;
    top: -10rem;
    padding: .8rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 1px 3px 10px  #1f1f1f;
    background-color: #C79A1Bee;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    width: 16rem;
    color: #1f1f1f;
    &:active{
        scale: .9;
        transition: all .3s;
    }
}